<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="header">

    <div class="container">
      <div class="logo_and_store">
        <img class="logo_img" src="<%= require("../../assets/images/icon.svg") %>" width="80" alt="logo footer">
        <h1 class="main-title">Online Store</h1>
      </div>
      <div class="cart-total-container">
        <h2 class="cart-total">Cart total:<span class="cart-total-inner">€1,448.00</span></h2>
      </div>
      <div class="basket-container">
        <p><a href="./cart.html"><img class="header-basket" src="<%= require("../../assets/images/cart.svg") %>" width="80" height="80" alt="logo footer"></a></p>
      </div>
    </div>
  </header>
  
  <main class="main">
    <!-- <div>
      <a href='./modal.html'>modal</a>
    </div> -->
  </main>
  


  <footer class="footer">
    <a class="link imeges" href="https://rs.school/js/">
      <img class="footer__img" src="<%= require("../../assets/images/rs_school_js.svg") %>" alt="logo curs">
    </a>

    <p>2020</p>

    <a class="link github"href="https://github.com/VyacheslavMusiienko">My link</a>
  </footer>
</body>
</html>