<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="logo_and_store">
        <img class="logo_img" src="<%= require("../../assets/images/iconizer-happy-shopper (1).svg") %>" width="80" alt="logo footer">
        <h1 class="main-title">Online Store</h1>
      </div>
      <div class="cart-total-container">
        <h2 class="cart-total">Cart total:<span class="cart-total-inner">€1,448.00</span></h2>
      </div>
      <div class="basket-container">
        <img class="header-basket" src="<%= require("../../assets/images/cart.svg") %>" width="80" alt="logo footer">
      </div>
    </div>
  </header>
  
  <main class="main">
    <a href='./basket.html' >test</a>
    <a href='./modal.html'>modal</a>
  </main>

  <footer class="footer"></footer>
</body>
</html>