.cart-container {
    color: #C4DFE6;
    margin: 5% auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 70vh;
    font-size: 18px;
}

.total-money{
    color:#66A5AD;
    font-weight: 900;
}

.text-cart{
    background-color: #07575B;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    color: #C4DFE6;
}

.cart-item {
    background-color: #003B46;
    border-radius: 10px;
}

.cart-container-products {
    width: 65%;
}

.cart-container-summary {
    width: 34%;
}


.summary-item {
    margin-bottom: 18%;
    color: #1796af;
}
::placeholder {
    color: black;
}

.input-summary{
    border-radius: 20px;
    background-color: #07575B;
    border: none;
    outline:none;
    width: 90%;
    padding: 15px 10px;
    color:rgb(239, 212, 239);
    font-size: 18px;
}

.cart-button {
    width: 50%;
    padding: 5px;
    background-color: rgb(79, 71, 79);
    color:rgb(168, 168, 168);
    font-weight: 700;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.cart-button:hover {
    background-color: rgb(100, 91, 100);
}

.dlt-btn {
    // width: 80px;
    // height: 80px;
    border-radius: 50%;
    background-color: rgb(100, 91, 100);
    cursor: pointer;
}

.dlt-btn:hover {
    background-color: rgb(120, 110, 120);
}

.cart-item-content {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.cart-store-container {
    display:flex;
    // justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid black;
    background-color: #66A5AD;
}

.summary-btn {
    background-color: #1796af;
    margin: 0 auto;
    border-radius: 10px;
    width: 50%;
    padding: 10px 30px;
}

.btn-buy-now {
    text-decoration: none;
}

.image-store-cart {
    background-size: cover;
    width: 120px;
    height: 120px;
}

.description {
    width: 50%;
    height: 10%;
}