.footer{
  background-color: $color_ocean;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__img{
    width: 100px;
  }
}