*,*::before,*::after{
  font: 14px 'Arial', sans-serif;
  color: $color_text-main;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

.d-flex{
  display: flex;
}